/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
    border-radius: 50%;
}
p {
    
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/parasol.webp"); 
    background-size: cover;
}

.activities {
    background: #F1FAEE;
    display: flex;
    justify-content: space-around;
    padding: 50px 35px 30px 35px;
}

.single-activity {
    width: 200px;
}

.italic {
    font-style: italic;
}

#hero-text {
    font-size: 34px;
    color: #F1FAEE;
    background: #1D3557;
    padding: 3px 12px 5px 12px;
    margin: 120px 0 0 0;
    border-radius: 10px;
}

#hero-text-2 {
    font-size: 18px;
    color: #F1FAEE;
    background: #457B9D;
    padding: 5px 30px 8px 30px;
    margin:11px 0 120px 0;
    border-radius: 10px;
}

#top-three-text {
    background: #F1FAEE;
    padding: 40px 0 0 0;;
    margin: 0;
    font-size: 24px;
}

#guide {
    display: flex;
    width: 400px;
    margin: 50px auto;
    padding: 23px 13px;
    background: #A8DADC;
    border-bottom: #1D3557 6px solid;
    border-radius: 10px;
}

#guide-photo {
    border-radius: 10px;
    width: 180px;
}

#guide-desc {
    padding: 5px;
}
